<div class="section-title pb-30" style="width: fit-content;margin:auto;margin-top: 50px;">
    <h3 style="font-weight: 500;">
        <%= title %>
    </h3>
    <div class="double-line-bottom">
    </div>
</div>