<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <%- include('./mainTemplate', {auth : auth, path: path}) %>
        <div class="container">
            <div class="col-md-12 col-lg-12" style="margin: auto;">

                <%- include("partials/title",{title:"PEOPLE"}) %>

                    <ul class="nav nav-pills d-flex  animate__animated animate__slideInDown tabSection" id="
            pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <span class="nav-link active" data-bs-toggle="pill" data-bs-target="#pills-1"
                                aria-controls="pills-1" aria-selected="true">Training and Placement Officer</span>
                        </li>
                        <li class="nav-item px-3" role="presentation">
                            <span class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-2"
                                aria-controls="pills-2" aria-selected="false">Faculty Coordinators</span>
                        </li>

                        <li class="nav-item px-3" role="presentation">
                            <span class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-3"
                                aria-controls="pills-3" aria-selected="false">
                                Student Coordinators</span>
                        </li>
                        <li class="nav-item px-3" role="presentation">
                            <span class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-4"
                                aria-controls="pills-4" aria-selected="false">
                                Development Team</span>
                        </li>

                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-1" role="tabpanel"
                            aria-labelledby="pills-1-tab">
                            <div>
                                <div class="mt-3">
                                    <h4 class="alert alert-primary p-1 rounded">&nbsp;<i
                                            class="fa-solid fa-user   fa-fw "></i>&nbsp;
                                        Training and Placement Officer</h4>
                                </div>
                                <div class="shadow rounded p-2" style="border-bottom: 10px solid #fbc02a;">
                                    <!-- <h5>Head of Department</h5> -->
                                    <!-- <div class="subtitle-border-bottom"></div> -->
                                    <div class="row shadow-sm border rounded py-3 m-3">
                                        <div class="col-md-3 d-flex justify-content-center align-items-center">
                                            <img class="rounded img-fluid"
                                                src="/assets/images/contact/faculty/mnitjas061.png" alt=""
                                                style="width:150px;height:180px;border-radius: 12px;">
                                        </div>
                                        <div class="col-md-9 mt-3 profileDetails">
                                            <h5>Prof. D. Boolchandani</h5>
                                            <span class="d-inline-block mt-1 fw-bold"><i
                                                    class="fa-solid fa-address-card fa-fw "></i> Professor</span><br>
                                            <span class="d-inline-block mt-1"><i
                                                    class="fa-solid fa-graduation-cap fa-fw "></i>
                                                Ph.D. (MNIT Jaipur),
                                                M.Tech. (IISc Banglore),
                                                B.E. (MREC Jaipur)</span><br>
                                            <span class="d-inline-block mt-1"><b class="fw-bold">Research Interests
                                                    :</b>
                                                Surrogate models for Analog and Digital subsystems, Interface circuits
                                                for On Chip MEMS Based Sensor and Actuators, MEMS Based Inertial
                                                Sensors.
                                            </span><br>
                                            <span class="d-inline-block mt-1"><i
                                                    class="fa-solid fa-envelope fa-fw "></i> <a
                                                    href="mailto:dboolchandani.ece@mnit.ac.in">dbool@ieee.org,
                                                    dboolchandani.ece@mnit.ac.in</a></span>
                                            <span class="d-inline-block mt-1"><i
                                                    class="fa-solid fa-square-phone fa-fw "></i>
                                                01412713334</span><br>
                                            <span class="text-muted "><a
                                                    href="https://mnit.ac.in/dept_ece/profile?fid=QKQ="
                                                    target="_blank"><i class=" fa-solid fa-user mnit-primary"></i> View
                                                    Detailed
                                                    Profile
                                                </a></span>

                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">
                            <div>
                                <div class="mt-3">
                                    <h4 class="alert alert-primary p-1  rounded">&nbsp;<i
                                            class="fa-solid fa-users  fa-fw "></i>&nbsp;
                                        Faculty Coordinators</h4>
                                </div>
                                <div class="row shadow-sm border rounded py-3 m-3">
                                    <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-center">
                                        <img class="rounded img-fluid"
                                            src="/assets/images/contact/faculty/mnitjas137.png" alt=""
                                            style="width:150px;height:180px;border-radius: 12px;">
                                    </div>
                                    <div class="col-lg-9 col-md-9 mt-3 profileDetails">
                                        <h5 class="m-0">Dr. Meenakshi Tripathi</h5>
                                        <span class="d-inline-block fw-bold mt-2"><i
                                                class="fa-solid fa-address-card fa-fw "></i> Associate
                                            Professor</span><br>
                                        <span class="d-inline-block mt-1"><i
                                                class="fa-solid fa-graduation-cap fa-fw "></i>
                                            Dept. of Computer Engineering</span><br>

                                        <span class="d-inline-block mt-1 text-primary"><i
                                                class="fa-solid fa-envelope fa-fw "></i> <a
                                                href="mailto:mtripathi.cse@mnit.ac.in">mtripathi.cse@mnit.ac.in</a></span><br>
                                    </div>
                                </div>
                                <div class="row shadow-sm border rounded py-3 m-3">
                                    <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-center">
                                        <img class="rounded img-fluid" src="/assets/images/contact/faculty/dummy.jpg"
                                            alt="" style="width:150px;height:180px;border-radius: 12px;">
                                    </div>
                                    <div class="col-lg-9 col-md-9 mt-3 profileDetails">
                                        <h5 class="m-0">Mr. Bharat Kumar Kasyap</h5>
                                        <span class="d-inline-block fw-bold mt-2"><i
                                                class="fa-solid fa-address-card fa-fw "></i> Technical Assistant
                                            (SG-II)</span><br>
                                        <span class="d-inline-block mt-1"><i
                                                class="fa-solid fa-graduation-cap fa-fw "></i>
                                            Diploma &amp; B-tech in Electronics &amp; Telecommunication
                                            Engineering</span><br>

                                        <span class="d-inline-block mt-1 text-primary"><i
                                                class="fa-solid fa-envelope fa-fw "></i> <a
                                                href="mailto:bkasyap.ece@mnit.ac.in">bkasyap.ece@mnit.ac.in</a></span><br>
                                    </div>
                                </div>
                                <div class="row shadow-sm border rounded py-3 m-3">
                                    <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-center">
                                        <img class="rounded img-fluid" src="/assets/images/contact/faculty/dummy.jpg"
                                            alt="" style="width:150px;height:180px;border-radius: 12px;">
                                    </div>
                                    <div class="col-lg-9 col-md-9 mt-3 profileDetails">
                                        <h5 class="m-0">Mr. Kinnal Mehta</h5>
                                        <span class="d-inline-block fw-bold mt-2"><i
                                                class="fa-solid fa-address-card fa-fw "></i> Technical Assistant
                                            (SG-II)</span><br>
                                        <span class="d-inline-block mt-1"><i
                                                class="fa-solid fa-graduation-cap fa-fw "></i>
                                            Diploma, B.E. in ECE &amp; M-Tech in VLSI Design</span><br>

                                        <span class="d-inline-block mt-1 text-primary"><i
                                                class="fa-solid fa-envelope fa-fw "></i> <a
                                                href="mailto:kinnalmehta.ece@mnit.ac.in">kinnalmehta.ece@mnit.ac.in</a></span><br>
                                    </div>
                                </div>
                                <div class="row shadow-sm border rounded py-3 m-3">
                                    <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-center">
                                        <img class="rounded img-fluid" src="/assets/images/contact/faculty/dummy.jpg"
                                            alt="" style="width:150px;height:180px;border-radius: 12px;">
                                    </div>
                                    <div class="col-lg-9 col-md-9 mt-3 profileDetails">
                                        <h5 class="m-0">Mr. Sanjay Kumar Bagaria</h5>
                                        <span class="d-inline-block fw-bold mt-2"><i
                                                class="fa-solid fa-address-card fa-fw "></i> Technical Assistant
                                            (SG-II)</span><br>
                                        <span class="d-inline-block mt-1"><i
                                                class="fa-solid fa-graduation-cap fa-fw "></i>
                                            B.Tech. (ECE)</span><br>

                                        <span class="d-inline-block mt-1 text-primary"><i
                                                class="fa-solid fa-envelope fa-fw "></i> <a
                                                href="mailto:sanjaybagaria.ece@mnit.ac.in">sanjaybagaria.ece@mnit.ac.in</a></span><br>
                                    </div>
                                </div>
                                <div class="row shadow-sm border rounded py-3 m-3">
                                    <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-center">
                                        <img class="rounded img-fluid" src="/assets/images/contact/faculty/dummy.jpg"
                                            alt="" style="width:150px;height:180px;border-radius: 12px;">
                                    </div>
                                    <div class="col-lg-9 col-md-9 mt-3 profileDetails">
                                        <h5 class="m-0">Mr. Bipin Kumar Saw</h5>
                                        <span class="d-inline-block fw-bold mt-2"><i
                                                class="fa-solid fa-address-card fa-fw "></i> Senior Technical
                                            Assistant</span><br>
                                        <span class="d-inline-block mt-1"><i
                                                class="fa-solid fa-graduation-cap fa-fw "></i>
                                            M.Tech In ECE, Pursuing PhD</span><br>

                                        <span class="d-inline-block mt-1 text-primary"><i
                                                class="fa-solid fa-envelope fa-fw "></i> <a
                                                href="mailto:bipin.ece@mnit.ac.in">bipin.ece@mnit.ac.in</a></span><br>
                                    </div>
                                </div>
                                <div class="row shadow-sm border rounded py-3 m-3">
                                    <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-center">
                                        <img class="rounded img-fluid" src="/assets/images/contact/faculty/dummy.jpg"
                                            alt="" style="width:150px;height:180px;border-radius: 12px;">
                                    </div>
                                    <div class="col-lg-9 col-md-9 mt-3 profileDetails">
                                        <h5 class="m-0">Mr. Firoz Ahmed</h5>
                                        <span class="d-inline-block fw-bold mt-2"><i
                                                class="fa-solid fa-address-card fa-fw "></i> Senior
                                            Technician</span><br>
                                        <span class="d-inline-block mt-1"><i
                                                class="fa-solid fa-graduation-cap fa-fw "></i>
                                            Diploma in Electronics and Communication Engineering </span><br>

                                        <span class="d-inline-block mt-1 text-primary"><i
                                                class="fa-solid fa-envelope fa-fw "></i> <a
                                                href="mailto:firoz.ece@mnit.ac.in">firoz.ece@mnit.ac.in</a></span><br>
                                    </div>
                                </div>
                                <div class="row shadow-sm border rounded py-3 m-3">
                                    <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-center">
                                        <img class="rounded img-fluid" src="/assets/images/contact/faculty/dummy.jpg"
                                            alt="" style="width:150px;height:180px;border-radius: 12px;">
                                    </div>
                                    <div class="col-lg-9 col-md-9 mt-3 profileDetails">
                                        <h5 class="m-0">Mr. Kumawat Arun Suresh</h5>
                                        <span class="d-inline-block fw-bold mt-2"><i
                                                class="fa-solid fa-address-card fa-fw "></i> Senior
                                            Technician</span><br>
                                        <span class="d-inline-block mt-1"><i
                                                class="fa-solid fa-graduation-cap fa-fw "></i>
                                            Diploma in Electronics Engineering</span><br>

                                        <span class="d-inline-block mt-1 text-primary"><i
                                                class="fa-solid fa-envelope fa-fw "></i> <a
                                                href="mailto:arunkumawat.ece@mnit.ac.in">arunkumawat.ece@mnit.ac.in</a></span><br>
                                    </div>
                                </div>
                                <div class="row shadow-sm border rounded py-3 m-3">
                                    <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-center">
                                        <img class="rounded img-fluid" src="/assets/images/contact/faculty/dummy.jpg"
                                            alt="" style="width:150px;height:180px;border-radius: 12px;">
                                    </div>
                                    <div class="col-lg-9 col-md-9 mt-3 profileDetails">
                                        <h5 class="m-0">Mr. Munesh Singh Bhadawat</h5>
                                        <span class="d-inline-block fw-bold mt-2"><i
                                                class="fa-solid fa-address-card fa-fw "></i> Senior
                                            Technician</span><br>
                                        <span class="d-inline-block mt-1"><i
                                                class="fa-solid fa-graduation-cap fa-fw "></i>
                                            B.Tech in ECE</span><br>
                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-gear fa-fw "></i> <b
                                                class="fw-bold">Expertise :</b>Basic Electronics </span><br>
                                        <span class="d-inline-block mt-1 text-primary"><i
                                                class="fa-solid fa-envelope fa-fw "></i> <a
                                                href="mailto:muneshsingh@mnit.ac.in">muneshsingh@mnit.ac.in</a></span><br>
                                    </div>
                                </div>
                                <div class="row shadow-sm border rounded py-3 m-3">
                                    <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-center">
                                        <img class="rounded img-fluid" src="/assets/images/contact/faculty/dummy.jpg"
                                            alt="" style="width:150px;height:180px;border-radius: 12px;">
                                    </div>
                                    <div class="col-lg-9 col-md-9 mt-3 profileDetails">
                                        <h5 class="m-0">Mr. Deep Chand Jatav</h5>
                                        <span class="d-inline-block fw-bold mt-2"><i
                                                class="fa-solid fa-address-card fa-fw "></i> Technician</span><br>
                                        <span class="d-inline-block mt-1"><i
                                                class="fa-solid fa-graduation-cap fa-fw "></i>
                                            B.Tech</span><br>

                                        <span class="d-inline-block mt-1 text-primary"><i
                                                class="fa-solid fa-envelope fa-fw "></i> <a
                                                href="mailto:deepchand.ece@mnit.ac.in">deepchand.ece@mnit.ac.in</a></span><br>
                                    </div>
                                </div>
                                <div class="row shadow-sm border rounded py-3 m-3">
                                    <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-center">
                                        <img class="rounded img-fluid" src="/assets/images/contact/faculty/dummy.jpg"
                                            alt="" style="width:150px;height:180px;border-radius: 12px;">
                                    </div>
                                    <div class="col-lg-9 col-md-9 mt-3 profileDetails">
                                        <h5 class="m-0">Mr. Kushagra Sharma</h5>
                                        <span class="d-inline-block fw-bold mt-2"><i
                                                class="fa-solid fa-address-card fa-fw "></i> Technician</span><br>
                                        <span class="d-inline-block mt-1"><i
                                                class="fa-solid fa-graduation-cap fa-fw "></i>
                                            B
                                            Tech ( Electronics and Communication Engineering), M Tech ( Materials
                                            Science
                                            and
                                            Engineering)</span><br>
                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-gear fa-fw "></i> <b
                                                class="fw-bold">Expertise :</b>VHDL, DSP </span><br>
                                        <span class="d-inline-block mt-1 text-primary"><i
                                                class="fa-solid fa-envelope fa-fw "></i> <a
                                                href="mailto:kushagrasharma@mnit.ac.in">kushagrasharma@mnit.ac.in</a></span><br>
                                    </div>
                                </div>
                                <div class="row shadow-sm border rounded py-3 m-3">
                                    <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-center">
                                        <img class="rounded img-fluid" src="/assets/images/contact/faculty/dummy.jpg"
                                            alt="" style="width:150px;height:180px;border-radius: 12px;">
                                    </div>
                                    <div class="col-lg-9 col-md-9 mt-3 profileDetails">
                                        <h5 class="m-0">Mr. Manish Shukla</h5>
                                        <span class="d-inline-block fw-bold mt-2"><i
                                                class="fa-solid fa-address-card fa-fw "></i> Technician</span><br>
                                        <span class="d-inline-block mt-1"><i
                                                class="fa-solid fa-graduation-cap fa-fw "></i>
                                            B.Tech. Information Technology and M.Tech. ECE</span><br>
                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-gear fa-fw "></i> <b
                                                class="fw-bold">Expertise :</b>Information Technology, Cloud Computing,
                                            Network
                                            Security, CCTV System, Server Administrator etc. </span><br>
                                        <span class="d-inline-block mt-1 text-primary"><i
                                                class="fa-solid fa-envelope fa-fw "></i> <a
                                                href="mailto:manishshukla.ccc@mnit.ac.in">manishshukla.ccc@mnit.ac.in</a></span><br>
                                    </div>
                                </div>
                                <div class="row shadow-sm border rounded py-3 m-3">
                                    <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-center">
                                        <img class="rounded img-fluid" src="/assets/images/contact/faculty/dummy.jpg"
                                            alt="" style="width:150px;height:180px;border-radius: 12px;">
                                    </div>
                                    <div class="col-lg-9 col-md-9 mt-3 profileDetails">
                                        <h5 class="m-0">Mr. Pankaj Gupta</h5>
                                        <span class="d-inline-block fw-bold mt-2"><i
                                                class="fa-solid fa-address-card fa-fw "></i> Technician</span><br>
                                        <span class="d-inline-block mt-1"><i
                                                class="fa-solid fa-graduation-cap fa-fw "></i>
                                            B.Tech.</span><br>
                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-gear fa-fw "></i> <b
                                                class="fw-bold">Expertise :</b>Virtual Class Room </span><br>
                                        <span class="d-inline-block mt-1 text-primary"><i
                                                class="fa-solid fa-envelope fa-fw "></i> <a
                                                href="mailto:pankajgupta.cse@mnit.ac.in">pankajgupta.cse@mnit.ac.in</a></span><br>
                                    </div>
                                </div>
                                <div class="row shadow-sm border rounded py-3 m-3">
                                    <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-center">
                                        <img class="rounded img-fluid" src="/assets/images/contact/faculty/dummy.jpg"
                                            alt="" style="width:150px;height:180px;border-radius: 12px;">
                                    </div>
                                    <div class="col-lg-9 col-md-9 mt-3 profileDetails">
                                        <h5 class="m-0">Mr. Bhagwan Sahay Kumawat</h5>
                                        <span class="d-inline-block fw-bold mt-2"><i
                                                class="fa-solid fa-address-card fa-fw "></i> Junior Assistant</span><br>
                                        <span class="d-inline-block mt-1"><i
                                                class="fa-solid fa-graduation-cap fa-fw "></i>
                                            B.A.</span><br>

                                        <span class="d-inline-block mt-1 text-primary"><i
                                                class="fa-solid fa-envelope fa-fw "></i> <a
                                                href="mailto:bhagwan@mnit.ac.in">bhagwan@mnit.ac.in</a></span><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-3" role="tabpanel" aria-labelledby="pills-3-tab">
                            <div>
                                <div class="mt-3">
                                    <h4 class="alert alert-primary p-1  rounded">&nbsp;<i
                                            class="fa-solid fa-user-graduate  fa-fw "></i>&nbsp; Student Coordinators
                                    </h4>
                                </div>



                                <div class="row shadow-sm border rounded py-3 m-3">
                                    <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-center">
                                        <img class="rounded img-fluid" src="/assets/images/contact/faculty/dummy.jpg"
                                            alt="" style="width:150px;height:180px;border-radius: 12px;">
                                    </div>
                                    <div class="col-lg-9 col-md-9 mt-3 profileDetails">
                                        <h6 class="m-0"> SOMA NILOY GHOSH</h6>
                                        <span class="d-inline-block fw-bold mt-2"><i
                                                class="fa-solid fa-address-card fa-fw "></i> 2016REC9053 ()</span><br>
                                        <span class="d-inline-block mt-1"><i
                                                class="fa-solid fa-graduation-cap fa-fw "></i>
                                            B.Tech and M.Tech</span><br>
                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-gear fa-fw "></i> <b
                                                class="fw-bold">Research Interests :</b>computer architecture, embedded
                                            systems
                                        </span><br>

                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-users fa-fw "></i> <b
                                                class="fw-bold">Supervisor/Co-supervisor :</b>Prof.Lava Bhargava and
                                            Prof.
                                            Vineet Sahula </span><br>
                                        <span class="d-inline-block mt-1 text-primary"><i
                                                class="fa-solid fa-envelope fa-fw "></i> <a
                                                href="mailto:2016REC9053@mnit.ac.in">2016REC9053@mnit.ac.in</a></span><br>
                                    </div>
                                </div>
                                <div class="row shadow-sm border rounded py-3 m-3">
                                    <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-center">
                                        <img class="rounded img-fluid" src="/assets/images/contact/faculty/dummy.jpg"
                                            alt="" style="width:150px;height:180px;border-radius: 12px;">
                                    </div>
                                    <div class="col-lg-9 col-md-9 mt-3 profileDetails">
                                        <h6 class="m-0">Mr. SONU JAIN</h6>
                                        <span class="d-inline-block fw-bold mt-2"><i
                                                class="fa-solid fa-address-card fa-fw "></i> 2021REC9052 (Full
                                            Time)</span><br>
                                        <span class="d-inline-block mt-1"><i
                                                class="fa-solid fa-graduation-cap fa-fw "></i>
                                            M.Tech/M.E. and B.Tech/B.E.</span><br>
                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-gear fa-fw "></i> <b
                                                class="fw-bold">Research Interests :</b>Frequency Selective Surface,
                                            Metamaterials, Reconfigurable Antennas, UWB Antenna </span><br>
                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-book fa-fw "></i> <b
                                                class="fw-bold">Publications :</b>8</span><br>
                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-users fa-fw "></i> <b
                                                class="fw-bold">Supervisor/Co-supervisor :</b>Dr. Ritu Sharma
                                        </span><br>
                                        <span class="d-inline-block mt-1 text-primary"><i
                                                class="fa-solid fa-envelope fa-fw "></i> <a
                                                href="mailto:2021REC9052@mnit.ac.in">2021REC9052@mnit.ac.in</a></span><br>
                                    </div>
                                </div>
                                <div class="row shadow-sm border rounded py-3 m-3">
                                    <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-center">
                                        <img class="rounded img-fluid" src="/assets/images/contact/faculty/dummy.jpg"
                                            alt="" style="width:150px;height:180px;border-radius: 12px;">
                                    </div>
                                    <div class="col-lg-9 col-md-9 mt-3 profileDetails">
                                        <h6 class="m-0"> SUDARSHAN KUMAR JAIN</h6>
                                        <span class="d-inline-block fw-bold mt-2"><i
                                                class="fa-solid fa-address-card fa-fw "></i> 2018REC9015 ()</span><br>
                                        <span class="d-inline-block mt-1"><i
                                                class="fa-solid fa-graduation-cap fa-fw "></i>
                                            B.E., MBA and M.Tech</span><br>
                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-gear fa-fw "></i> <b
                                                class="fw-bold">Research Interests :</b>Photovoltaics ,Solar cell
                                        </span><br>

                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-users fa-fw "></i> <b
                                                class="fw-bold">Supervisor/Co-supervisor :</b>Prof. Vijay Janyani
                                        </span><br>
                                        <span class="d-inline-block mt-1 text-primary"><i
                                                class="fa-solid fa-envelope fa-fw "></i> <a
                                                href="mailto:2018REC9015@mnit.ac.in">2018REC9015@mnit.ac.in</a></span><br>
                                    </div>
                                </div>
                                <div class="row shadow-sm border rounded py-3 m-3">
                                    <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-center">
                                        <img class="rounded img-fluid" src="/assets/images/contact/faculty/dummy.jpg"
                                            alt="" style="width:150px;height:180px;border-radius: 12px;">
                                    </div>
                                    <div class="col-lg-9 col-md-9 mt-3 profileDetails">
                                        <h6 class="m-0">Mr. Sujeet Kumar Gupta</h6>
                                        <span class="d-inline-block fw-bold mt-2"><i
                                                class="fa-solid fa-address-card fa-fw "></i> 2021REC9050 (Full
                                            Time)</span><br>
                                        <span class="d-inline-block mt-1"><i
                                                class="fa-solid fa-graduation-cap fa-fw "></i>
                                            M.Tech/M.E. and B.Tech/B.E.</span><br>
                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-gear fa-fw "></i> <b
                                                class="fw-bold">Research Interests :</b>Mixed Signal ICs and Signal
                                            Conditioning
                                            Circuit </span><br>
                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-book fa-fw "></i> <b
                                                class="fw-bold">Publications :</b>-</span><br>
                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-users fa-fw "></i> <b
                                                class="fw-bold">Supervisor/Co-supervisor :</b>Dr. D. Boolchandani / Dr.
                                            Sougata
                                            Kumar Kar </span><br>
                                        <span class="d-inline-block mt-1 text-primary"><i
                                                class="fa-solid fa-envelope fa-fw "></i> <a
                                                href="mailto:2021REC9050@mnit.ac.in">2021REC9050@mnit.ac.in</a></span><br>
                                    </div>
                                </div>
                                <div class="row shadow-sm border rounded py-3 m-3">
                                    <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-center">
                                        <img class="rounded img-fluid" src="/assets/images/contact/faculty/dummy.jpg"
                                            alt="" style="width:150px;height:180px;border-radius: 12px;">
                                    </div>
                                    <div class="col-lg-9 col-md-9 mt-3 profileDetails">
                                        <h6 class="m-0">Mr. Surendra Kumar Saini</h6>
                                        <span class="d-inline-block fw-bold mt-2"><i
                                                class="fa-solid fa-address-card fa-fw "></i> 2020REC9504 (Full
                                            Time)</span><br>
                                        <span class="d-inline-block mt-1"><i
                                                class="fa-solid fa-graduation-cap fa-fw "></i>
                                            M.Tech/M.E. and B.Tech/B.E.</span><br>
                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-gear fa-fw "></i> <b
                                                class="fw-bold">Research Interests :</b>Photonic Devices, Plasmonics
                                        </span><br>
                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-book fa-fw "></i> <b
                                                class="fw-bold">Publications :</b>2</span><br>
                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-users fa-fw "></i> <b
                                                class="fw-bold">Supervisor/Co-supervisor :</b>Dr. Ravi Kumar Maddila
                                        </span><br>
                                        <span class="d-inline-block mt-1 text-primary"><i
                                                class="fa-solid fa-envelope fa-fw "></i> <a
                                                href="mailto:2020rec9504@mnit.ac.in">2020rec9504@mnit.ac.in</a></span><br>
                                    </div>
                                </div>
                                <div class="row shadow-sm border rounded py-3 m-3">
                                    <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-center">
                                        <img class="rounded img-fluid" src="/assets/images/contact/faculty/dummy.jpg"
                                            alt="" style="width:150px;height:180px;border-radius: 12px;">
                                    </div>
                                    <div class="col-lg-9 col-md-9 mt-3 profileDetails">
                                        <h6 class="m-0"> SUSHIL KUMAR JAIN</h6>
                                        <span class="d-inline-block fw-bold mt-2"><i
                                                class="fa-solid fa-address-card fa-fw "></i> 2011REC9050 ()</span><br>
                                        <span class="d-inline-block mt-1"><i
                                                class="fa-solid fa-graduation-cap fa-fw "></i>
                                            B.Tech,M.Tech</span><br>
                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-gear fa-fw "></i> <b
                                                class="fw-bold">Research Interests :</b>organic thin film transistors
                                        </span><br>

                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-users fa-fw "></i> <b
                                                class="fw-bold">Supervisor/Co-supervisor :</b>Dr. Amit Mahesh Joshi
                                        </span><br>
                                        <span class="d-inline-block mt-1 text-primary"><i
                                                class="fa-solid fa-envelope fa-fw "></i> <a
                                                href="mailto:2011REC9050@mnit.ac.in">2011REC9050@mnit.ac.in</a></span><br>
                                    </div>
                                </div>
                                <div class="row shadow-sm border rounded py-3 m-3">
                                    <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-center">
                                        <img class="rounded img-fluid" src="/assets/images/contact/faculty/dummy.jpg"
                                            alt="" style="width:150px;height:180px;border-radius: 12px;">
                                    </div>
                                    <div class="col-lg-9 col-md-9 mt-3 profileDetails">
                                        <h6 class="m-0"> SUSHIL KUMAR JAIN</h6>
                                        <span class="d-inline-block fw-bold mt-2"><i
                                                class="fa-solid fa-address-card fa-fw "></i> 2016REC9050 ()</span><br>
                                        <span class="d-inline-block mt-1"><i
                                                class="fa-solid fa-graduation-cap fa-fw "></i>
                                            B.Tech,M.Tech</span><br>
                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-gear fa-fw "></i> <b
                                                class="fw-bold">Research Interests :</b>organic thin film transistors
                                        </span><br>

                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-users fa-fw "></i> <b
                                                class="fw-bold">Supervisor/Co-supervisor :</b>Dr. Amit Mahesh Joshi
                                        </span><br>
                                        <span class="d-inline-block mt-1 text-primary"><i
                                                class="fa-solid fa-envelope fa-fw "></i> <a
                                                href="mailto:2016REC9050@mnit.ac.in">2016REC9050@mnit.ac.in</a></span><br>
                                    </div>
                                </div>
                                <div class="row shadow-sm border rounded py-3 m-3">
                                    <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-center">
                                        <img class="rounded img-fluid" src="/assets/images/contact/faculty/dummy.jpg"
                                            alt="" style="width:150px;height:180px;border-radius: 12px;">
                                    </div>
                                    <div class="col-lg-9 col-md-9 mt-3 profileDetails">
                                        <h6 class="m-0">Ms. Swati Gaur</h6>
                                        <span class="d-inline-block fw-bold mt-2"><i
                                                class="fa-solid fa-address-card fa-fw "></i> 2020REC9507 (Full
                                            Time)</span><br>
                                        <span class="d-inline-block mt-1"><i
                                                class="fa-solid fa-graduation-cap fa-fw "></i>
                                            MTech, BTECH</span><br>
                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-gear fa-fw "></i> <b
                                                class="fw-bold">Research Interests :</b>MIMO Antennas, Circular
                                            polarized
                                            Antennas on UWB &amp; SWB Frequencies </span><br>
                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-book fa-fw "></i> <b
                                                class="fw-bold">Publications :</b>"
                                            SwatiGaur and Ashish Kumar Gunawat ""Simulation and Analyzing Performance of
                                            Inter
                                            Satellite Optical Wireless Communication (IsOWC)System”,International
                                            Conference
                                            on
                                            Advance Research and Innovatio</span><br>
                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-users fa-fw "></i> <b
                                                class="fw-bold">Supervisor/Co-supervisor :</b>Dr. Sarthak Singhal; Prof.
                                            M.
                                            Salim </span><br>
                                        <span class="d-inline-block mt-1 text-primary"><i
                                                class="fa-solid fa-envelope fa-fw "></i> <a
                                                href="mailto:2020REC9507@mnit.ac.in">2020REC9507@mnit.ac.in</a></span><br>
                                    </div>
                                </div>
                                <div class="row shadow-sm border rounded py-3 m-3">
                                    <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-center">
                                        <img class="rounded img-fluid" src="/assets/images/contact/faculty/dummy.jpg"
                                            alt="" style="width:150px;height:180px;border-radius: 12px;">
                                    </div>
                                    <div class="col-lg-9 col-md-9 mt-3 profileDetails">
                                        <h6 class="m-0">Ms. TAMANNA JAIN</h6>
                                        <span class="d-inline-block fw-bold mt-2"><i
                                                class="fa-solid fa-address-card fa-fw "></i> 2021REC9055 (Full
                                            Time)</span><br>
                                        <span class="d-inline-block mt-1"><i
                                                class="fa-solid fa-graduation-cap fa-fw "></i>
                                            M.Tech/M.E. and B.Tech/B.E.</span><br>
                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-gear fa-fw "></i> <b
                                                class="fw-bold">Research Interests :</b>biomedical applications and
                                            antenna
                                        </span><br>
                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-book fa-fw "></i> <b
                                                class="fw-bold">Publications :</b>1</span><br>
                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-users fa-fw "></i> <b
                                                class="fw-bold">Supervisor/Co-supervisor :</b>M.M. Sharma / Ila Sharma
                                        </span><br>
                                        <span class="d-inline-block mt-1 text-primary"><i
                                                class="fa-solid fa-envelope fa-fw "></i> <a
                                                href="mailto:2021rec9055@mnit.ac.in">2021rec9055@mnit.ac.in</a></span><br>
                                    </div>
                                </div>
                                <div class="row shadow-sm border rounded py-3 m-3">
                                    <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-center">
                                        <img class="rounded img-fluid" src="/assets/images/contact/faculty/dummy.jpg"
                                            alt="" style="width:150px;height:180px;border-radius: 12px;">
                                    </div>
                                    <div class="col-lg-9 col-md-9 mt-3 profileDetails">
                                        <h6 class="m-0"> TEENA SHARMA</h6>
                                        <span class="d-inline-block fw-bold mt-2"><i
                                                class="fa-solid fa-address-card fa-fw "></i> 2013REC9539 ()</span><br>
                                        <span class="d-inline-block mt-1"><i
                                                class="fa-solid fa-graduation-cap fa-fw "></i>
                                            B.Tech, M.Tech</span><br>
                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-gear fa-fw "></i> <b
                                                class="fw-bold">Research Interests :</b>Design of optical codes for
                                            OCDMA
                                            and
                                            SAC OCDMA system </span><br>

                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-users fa-fw "></i> <b
                                                class="fw-bold">Supervisor/Co-supervisor :</b>Dr. M. Ravi Kumar
                                        </span><br>
                                        <span class="d-inline-block mt-1 text-primary"><i
                                                class="fa-solid fa-envelope fa-fw "></i> <a
                                                href="mailto:2013REC9539@mnit.ac.in">2013REC9539@mnit.ac.in</a></span><br>
                                    </div>
                                </div>
                                <div class="row shadow-sm border rounded py-3 m-3">
                                    <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-center">
                                        <img class="rounded img-fluid" src="/assets/images/contact/faculty/dummy.jpg"
                                            alt="" style="width:150px;height:180px;border-radius: 12px;">
                                    </div>
                                    <div class="col-lg-9 col-md-9 mt-3 profileDetails">
                                        <h6 class="m-0">Ms. Trapti Mudgal</h6>
                                        <span class="d-inline-block fw-bold mt-2"><i
                                                class="fa-solid fa-address-card fa-fw "></i> 2019REC9502 (Full
                                            Time)</span><br>
                                        <span class="d-inline-block mt-1"><i
                                                class="fa-solid fa-graduation-cap fa-fw "></i>
                                            M.Tech/M.E. and B.Tech/B.E.</span><br>
                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-gear fa-fw "></i> <b
                                                class="fw-bold">Research Interests :</b>Research interests are
                                            Fabrication
                                            of
                                            Microelectronics Devices , Sensors, Energy Harvester devices. </span><br>
                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-book fa-fw "></i> <b
                                                class="fw-bold">Publications :</b>NA</span><br>
                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-users fa-fw "></i> <b
                                                class="fw-bold">Supervisor/Co-supervisor :</b>Dr.Deepak Bharti
                                        </span><br>
                                        <span class="d-inline-block mt-1 text-primary"><i
                                                class="fa-solid fa-envelope fa-fw "></i> <a
                                                href="mailto:2019REC9502@mnit.ac.in">2019REC9502@mnit.ac.in</a></span><br>
                                    </div>
                                </div>
                                <div class="row shadow-sm border rounded py-3 m-3">
                                    <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-center">
                                        <img class="rounded img-fluid" src="/assets/images/contact/faculty/dummy.jpg"
                                            alt="" style="width:150px;height:180px;border-radius: 12px;">
                                    </div>
                                    <div class="col-lg-9 col-md-9 mt-3 profileDetails">
                                        <h6 class="m-0">Mr. UDAY CHANDRA AKUTHOTA</h6>
                                        <span class="d-inline-block fw-bold mt-2"><i
                                                class="fa-solid fa-address-card fa-fw "></i> 2019REC9546 (Full
                                            Time)</span><br>
                                        <span class="d-inline-block mt-1"><i
                                                class="fa-solid fa-graduation-cap fa-fw "></i>
                                            M.Tech/M.E. and B.Tech/B.E.</span><br>
                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-gear fa-fw "></i> <b
                                                class="fw-bold">Research Interests :</b>IOT Security, Image Processing
                                        </span><br>
                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-book fa-fw "></i> <b
                                                class="fw-bold">Publications :</b>4</span><br>
                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-users fa-fw "></i> <b
                                                class="fw-bold">Supervisor/Co-supervisor :</b>Prof. Lava Bhargava
                                        </span><br>
                                        <span class="d-inline-block mt-1 text-primary"><i
                                                class="fa-solid fa-envelope fa-fw "></i> <a
                                                href="mailto:2019rec9546@mnit.ac.in">2019rec9546@mnit.ac.in</a></span><br>
                                    </div>
                                </div>
                                <div class="row shadow-sm border rounded py-3 m-3">
                                    <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-center">
                                        <img class="rounded img-fluid" src="/assets/images/contact/faculty/dummy.jpg"
                                            alt="" style="width:150px;height:180px;border-radius: 12px;">
                                    </div>
                                    <div class="col-lg-9 col-md-9 mt-3 profileDetails">
                                        <h6 class="m-0"> USHA CHOUDHARY</h6>
                                        <span class="d-inline-block fw-bold mt-2"><i
                                                class="fa-solid fa-address-card fa-fw "></i> 2015REC9010 ()</span><br>
                                        <span class="d-inline-block mt-1"><i
                                                class="fa-solid fa-graduation-cap fa-fw "></i>
                                            B.E
                                            and M.Tech</span><br>
                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-gear fa-fw "></i> <b
                                                class="fw-bold">Research Interests :</b>OFDM for Optical Fiber
                                            Communication,
                                        </span><br>

                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-users fa-fw "></i> <b
                                                class="fw-bold">Supervisor/Co-supervisor :</b>Prof. Vijay Janyani
                                        </span><br>
                                        <span class="d-inline-block mt-1 text-primary"><i
                                                class="fa-solid fa-envelope fa-fw "></i> <a
                                                href="mailto:2015REC9010@mnit.ac.in">2015REC9010@mnit.ac.in</a></span><br>
                                    </div>
                                </div>
                                <div class="row shadow-sm border rounded py-3 m-3">
                                    <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-center">
                                        <img class="rounded img-fluid" src="/assets/images/contact/faculty/dummy.jpg"
                                            alt="" style="width:150px;height:180px;border-radius: 12px;">
                                    </div>
                                    <div class="col-lg-9 col-md-9 mt-3 profileDetails">
                                        <h6 class="m-0">Ms. VANDANA SINGH RAJAWAT</h6>
                                        <span class="d-inline-block fw-bold mt-2"><i
                                                class="fa-solid fa-address-card fa-fw "></i> 2021REC9053 (Full
                                            Time)</span><br>
                                        <span class="d-inline-block mt-1"><i
                                                class="fa-solid fa-graduation-cap fa-fw "></i>
                                            M.Tech VLSI BTech ECE</span><br>
                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-gear fa-fw "></i> <b
                                                class="fw-bold">Research Interests :</b>Nanodevice modeling </span><br>

                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-users fa-fw "></i> <b
                                                class="fw-bold">Supervisor/Co-supervisor :</b>Dr. Bharat Choudhary
                                        </span><br>
                                        <span class="d-inline-block mt-1 text-primary"><i
                                                class="fa-solid fa-envelope fa-fw "></i> <a
                                                href="mailto:2021REC9053@mnit.ac.in">2021REC9053@mnit.ac.in</a></span><br>
                                    </div>
                                </div>
                                <div class="row shadow-sm border rounded py-3 m-3">
                                    <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-center">
                                        <img class="rounded img-fluid" src="/assets/images/contact/faculty/dummy.jpg"
                                            alt="" style="width:150px;height:180px;border-radius: 12px;">
                                    </div>
                                    <div class="col-lg-9 col-md-9 mt-3 profileDetails">
                                        <h6 class="m-0"> VARUN SETIA</h6>
                                        <span class="d-inline-block fw-bold mt-2"><i
                                                class="fa-solid fa-address-card fa-fw "></i> 2015REC9538 ()</span><br>
                                        <span class="d-inline-block mt-1"><i
                                                class="fa-solid fa-graduation-cap fa-fw "></i>
                                            B.tech,M.tech</span><br>
                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-gear fa-fw "></i> <b
                                                class="fw-bold">Research Interests :</b>Antenna/Metamaterial Structures
                                        </span><br>

                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-users fa-fw "></i> <b
                                                class="fw-bold">Supervisor/Co-supervisor :</b>Prof. K.K.Sharma and
                                            Prof.S.K.Koul
                                        </span><br>
                                        <span class="d-inline-block mt-1 text-primary"><i
                                                class="fa-solid fa-envelope fa-fw "></i> <a
                                                href="mailto:2015REC9538@mnit.ac.in">2015REC9538@mnit.ac.in</a></span><br>
                                    </div>
                                </div>
                                <div class="row shadow-sm border rounded py-3 m-3">
                                    <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-center">
                                        <img class="rounded img-fluid" src="/assets/images/contact/faculty/dummy.jpg"
                                            alt="" style="width:150px;height:180px;border-radius: 12px;">
                                    </div>
                                    <div class="col-lg-9 col-md-9 mt-3 profileDetails">
                                        <h6 class="m-0">Mr. Vikram Maurya</h6>
                                        <span class="d-inline-block fw-bold mt-2"><i
                                                class="fa-solid fa-address-card fa-fw "></i> 2021REC9054 (Full
                                            Time)</span><br>
                                        <span class="d-inline-block mt-1"><i
                                                class="fa-solid fa-graduation-cap fa-fw "></i>
                                            M.Tech/M.E. and B.Tech/B.E.</span><br>
                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-gear fa-fw "></i> <b
                                                class="fw-bold">Research Interests :</b>Antenna design, microwave,
                                            visible
                                            light
                                            communication </span><br>
                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-book fa-fw "></i> <b
                                                class="fw-bold">Publications :</b>No</span><br>
                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-users fa-fw "></i> <b
                                                class="fw-bold">Supervisor/Co-supervisor :</b>Dr. Sarthak singhal
                                        </span><br>
                                        <span class="d-inline-block mt-1 text-primary"><i
                                                class="fa-solid fa-envelope fa-fw "></i> <a
                                                href="mailto:2021REC9054@mnit.ac.in">2021REC9054@mnit.ac.in</a></span><br>
                                    </div>
                                </div>
                                <div class="row shadow-sm border rounded py-3 m-3">
                                    <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-center">
                                        <img class="rounded img-fluid" src="/assets/images/contact/faculty/dummy.jpg"
                                            alt="" style="width:150px;height:180px;border-radius: 12px;">
                                    </div>
                                    <div class="col-lg-9 col-md-9 mt-3 profileDetails">
                                        <h6 class="m-0"> VINOD KUMARI</h6>
                                        <span class="d-inline-block fw-bold mt-2"><i
                                                class="fa-solid fa-address-card fa-fw "></i> 2015REC9039 ()</span><br>
                                        <span class="d-inline-block mt-1"><i
                                                class="fa-solid fa-graduation-cap fa-fw "></i>
                                            BE+M.Tech</span><br>
                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-gear fa-fw "></i> <b
                                                class="fw-bold">Research Interests :</b>Resilient Reconfigurable
                                            Hardware
                                            Design
                                            for Space and Terrestrial Application </span><br>

                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-users fa-fw "></i> <b
                                                class="fw-bold">Supervisor/Co-supervisor :</b>Prof. Vineet Sahula
                                        </span><br>
                                        <span class="d-inline-block mt-1 text-primary"><i
                                                class="fa-solid fa-envelope fa-fw "></i> <a
                                                href="mailto:2015REC9039@mnit.ac.in">2015REC9039@mnit.ac.in</a></span><br>
                                    </div>
                                </div>
                                <div class="row shadow-sm border rounded py-3 m-3">
                                    <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-center">
                                        <img class="rounded img-fluid" src="/assets/images/contact/faculty/dummy.jpg"
                                            alt="" style="width:150px;height:180px;border-radius: 12px;">
                                    </div>
                                    <div class="col-lg-9 col-md-9 mt-3 profileDetails">
                                        <h6 class="m-0"> Vipin Prakash Yadav</h6>
                                        <span class="d-inline-block fw-bold mt-2"><i
                                                class="fa-solid fa-address-card fa-fw "></i> 2018REC9119 ()</span><br>
                                        <span class="d-inline-block mt-1"><i
                                                class="fa-solid fa-graduation-cap fa-fw "></i>
                                            B.Tech(UPTU), M.tech(NITJ)</span><br>
                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-gear fa-fw "></i> <b
                                                class="fw-bold">Research Interests :</b>Digital signal and image
                                            processing,
                                            Biomedical signal processing </span><br>

                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-users fa-fw "></i> <b
                                                class="fw-bold">Supervisor/Co-supervisor :</b>Prof. K K Sharma
                                        </span><br>
                                        <span class="d-inline-block mt-1 text-primary"><i
                                                class="fa-solid fa-envelope fa-fw "></i> <a
                                                href="mailto:2018REC9119@mnit.ac.in">2018REC9119@mnit.ac.in</a></span><br>
                                    </div>
                                </div>
                                <div class="row shadow-sm border rounded py-3 m-3">
                                    <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-center">
                                        <img class="rounded img-fluid" src="/assets/images/contact/faculty/dummy.jpg"
                                            alt="" style="width:150px;height:180px;border-radius: 12px;">
                                    </div>
                                    <div class="col-lg-9 col-md-9 mt-3 profileDetails">
                                        <h6 class="m-0"> YASHASWINI SHARMA</h6>
                                        <span class="d-inline-block fw-bold mt-2"><i
                                                class="fa-solid fa-address-card fa-fw "></i> 2018REC9058 ()</span><br>
                                        <span class="d-inline-block mt-1"><i
                                                class="fa-solid fa-graduation-cap fa-fw "></i>
                                            B.Tech, M.Tech</span><br>
                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-gear fa-fw "></i> <b
                                                class="fw-bold">Research Interests :</b>Cognitive Radio </span><br>

                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-users fa-fw "></i> <b
                                                class="fw-bold">Supervisor/Co-supervisor :</b>Dr. Ritu Sharma and Prof.
                                            K.K
                                            Sharma </span><br>
                                        <span class="d-inline-block mt-1 text-primary"><i
                                                class="fa-solid fa-envelope fa-fw "></i> <a
                                                href="mailto:2018REC9058@mnit.ac.in">2018REC9058@mnit.ac.in</a></span><br>
                                    </div>
                                </div>
                                <div class="row shadow-sm border rounded py-3 m-3">
                                    <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-center">
                                        <img class="rounded img-fluid" src="/assets/images/contact/faculty/dummy.jpg"
                                            alt="" style="width:150px;height:180px;border-radius: 12px;">
                                    </div>
                                    <div class="col-lg-9 col-md-9 mt-3 profileDetails">
                                        <h6 class="m-0"> YOGENDRA KUMAR GUPTA</h6>
                                        <span class="d-inline-block fw-bold mt-2"><i
                                                class="fa-solid fa-address-card fa-fw "></i> 2014REC9034 ()</span><br>
                                        <span class="d-inline-block mt-1"><i
                                                class="fa-solid fa-graduation-cap fa-fw "></i>
                                            B.Tech, M.S.</span><br>
                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-gear fa-fw "></i> <b
                                                class="fw-bold">Research Interests :</b>Computer Architecture
                                        </span><br>

                                        <span class="d-inline-block mt-1"><i class="fa-solid fa-users fa-fw "></i> <b
                                                class="fw-bold">Supervisor/Co-supervisor :</b>Prof. Lava Bhargava
                                        </span><br>
                                        <span class="d-inline-block mt-1 text-primary"><i
                                                class="fa-solid fa-envelope fa-fw "></i> <a
                                                href="mailto:2014REC9034@mnit.ac.in">2014REC9034@mnit.ac.in</a></span><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-4" role="tabpanel" aria-labelledby="pills-4-tab">
                            <div>
                                <div class="mt-3">
                                    <h4 class="alert alert-primary p-1  rounded">&nbsp;<i
                                            class="fa-solid fa-award   fa-fw "></i>&nbsp;
                                        Website Development Team</h4>
                                </div>
                                <div class="row shadow-sm border rounded py-3 m-3">
                                    <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-center">
                                        <img class="rounded img-fluid" src="/assets/images/contact/faculty/dummy.jpg"
                                            alt="" style="width:150px;height:150px;border-radius: 12px;">
                                    </div>
                                    <div class="col-lg-9 col-md-9 mt-3 profileDetails">
                                        <h6 class="m-0">Vishnu Mali</h6>


                                        <span class="d-inline-block mt-1 text-primary"><i
                                                class="fa-solid fa-envelope fa-fw "></i> <a
                                                href="mailto:2020UCP1018@mnit.ac.in">2020UCP1018@mnit.ac.in</a>
                                        </span><br>
                                        <span class="d-inline-block mt-1"><i
                                                class="fa-solid fa-graduation-cap fa-fw "></i>
                                            B.Tech CSE (2020)</span><br>
                                    </div>
                                </div>
                                <div class="row shadow-sm border rounded py-3 m-3">
                                    <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-center">
                                        <img class="rounded img-fluid" src="/assets/images/contact/faculty/dummy.jpg"
                                            alt="" style="width:150px;height:150px;border-radius: 12px;">
                                    </div>
                                    <div class="col-lg-9 col-md-9 mt-3 profileDetails">
                                        <h6 class="m-0">Harsh Yadav</h6>


                                        <span class="d-inline-block mt-1 text-primary"><i
                                                class="fa-solid fa-envelope fa-fw "></i> <a
                                                href="mailto:2020UCP1032@mnit.ac.in">2020UCP1032@mnit.ac.in</a>
                                        </span><br>
                                        <span class="d-inline-block mt-1"><i
                                                class="fa-solid fa-graduation-cap fa-fw "></i>
                                            B.Tech CSE (2020)</span><br>
                                    </div>
                                </div>
                                <div class="row shadow-sm border rounded py-3 m-3">
                                    <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-center">
                                        <img class="rounded img-fluid" src="/assets/images/contact/faculty/dummy.jpg"
                                            alt="" style="width:150px;height:150px;border-radius: 12px;">
                                    </div>
                                    <div class="col-lg-9 col-md-9 mt-3 profileDetails">
                                        <h6 class="m-0">Ojaswi Agarwal</h6>


                                        <span class="d-inline-block mt-1 text-primary"><i
                                                class="fa-solid fa-envelope fa-fw "></i> <a
                                                href="mailto:2020UEC1266@mnit.ac.in">2020UEC1266@mnit.ac.in</a>
                                        </span><br>
                                        <span class="d-inline-block mt-1"><i
                                                class="fa-solid fa-graduation-cap fa-fw "></i>
                                            B.Tech ECE (2020)</span><br>
                                    </div>
                                </div>
                                <div class="row shadow-sm border rounded py-3 m-3">
                                    <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-center">
                                        <img class="rounded img-fluid" src="/assets/images/contact/faculty/dummy.jpg"
                                            alt="" style="width:150px;height:150px;border-radius: 12px;">
                                    </div>
                                    <div class="col-lg-9 col-md-9 mt-3 profileDetails">
                                        <h6 class="m-0">Chaitanya Tyagi</h6>


                                        <span class="d-inline-block mt-1 text-primary"><i
                                                class="fa-solid fa-envelope fa-fw "></i> <a
                                                href="mailto:2020UCH1395@mnit.ac.in">2020UCH1395@mnit.ac.in</a>
                                        </span><br>
                                        <span class="d-inline-block mt-1"><i
                                                class="fa-solid fa-graduation-cap fa-fw "></i>
                                            B.Tech CHEMICAL (2020)</span><br>
                                    </div>
                                </div>
                                <div class="row shadow-sm border rounded py-3 m-3">
                                    <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-center">
                                        <img class="rounded img-fluid" src="/assets/images/contact/faculty/dummy.jpg"
                                            alt="" style="width:150px;height:150px;border-radius: 12px;">
                                    </div>
                                    <div class="col-lg-9 col-md-9 mt-3 profileDetails">
                                        <h6 class="m-0">Sahil Jagwani</h6>


                                        <span class="d-inline-block mt-1 text-primary"><i
                                                class="fa-solid fa-envelope fa-fw "></i> <a
                                                href="mailto:2020UCH1274@mnit.ac.in">2020UCH1274@mnit.ac.in</a>
                                        </span><br>
                                        <span class="d-inline-block mt-1"><i
                                                class="fa-solid fa-graduation-cap fa-fw "></i>
                                            B.Tech CHEMICAL (2020)</span><br>
                                    </div>

                                </div>

                                <div class="row shadow-sm border rounded py-3 m-3">
                                    <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-center">
                                        <img class="rounded img-fluid" src="/assets/images/contact/faculty/dummy.jpg"
                                            alt="" style="width:150px;height:150px;border-radius: 12px;">
                                    </div>
                                    <div class="col-lg-9 col-md-9 mt-3 profileDetails">
                                        <h6 class="m-0">Sachin Kumar</h6>


                                        <span class="d-inline-block mt-1 text-primary"><i
                                                class="fa-solid fa-envelope fa-fw "></i> <a
                                                href="mailto:2020UCP1820@mnit.ac.in">2020UCP1820@mnit.ac.in</a>
                                        </span><br>
                                        <span class="d-inline-block mt-1"><i
                                                class="fa-solid fa-graduation-cap fa-fw "></i>
                                            B.Tech CSE (2020)</span><br>
                                    </div>

                                </div>








                            </div>
                        </div>
                    </div>
            </div>
        </div>
        </div>
        </body>
        <%- include("footer_log") %>


</html>