<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width"/>
    <link rel="preload" as="image" imagesrcset=""/>
    <title>Login Page</title>
    <meta name="robots" content="index,follow"/>
    <meta name="googlebot" content="index,follow"/>
    <meta name="description" content="Welcome to the recruitment website for MNIT Jaipur. MNIT Jaipur is India's foremost industrial leadership development institution. Our graduates are a combination of rigorous thinking, hardwork and fundamental stronghold.Let us begin..."/>
    <meta property="og:title" content="Welcome to the recruitment website for MNIT Jaipur."/>
    <meta property="og:description" content="Welcome to the recruitment website for MNIT Jaipur. MNIT Jaipur is India's foremost industrial leadership development institution. Our graduates are a combination of rigorous thinking, hardwork and fundamental stronghold.Let us begin..."/>
    <meta property="og:image" content="http://localhost:2900/assets/utils/mnitbg2.jpg"/>
    <meta property="og:image:alt" content="home-bg"/>
    <meta property="og:image:width" content="800"/>
    <meta property="og:image:height" content="400"/>
    <link rel="preload" as="image" imagesrcset="http://localhost:2900/assets/utils/mnitbg2.jpg"/>
    <meta name="next-head-count" content="38"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Belleza&family=Lato:wght@300&family=Montserrat:wght@600&family=Oswald:wght@200&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/2e45e089e0.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/final.css">
</head>

<body>
    <div class="flex-container loginPage">
        <div class="flex-item-left">
            <img src="/assets/utils/Mnit_logo.png" width="300px" id="logo" alt="Mnit_logo">
            <h2>Placement And Training Cell</h2>
            <h3>MNIT Jaipur</h3>
        </div>

        <div class="flex-item-right">
            <% if(show){ %>
                <div class="alert alert-<%=type%>" role="alert">
                    <%= msg %>
                </div>
                <%}%>
                    <div id="rightDisplay" class="registerForm">
                        <div>
                            <h1>Register</h1>
                            <form class="form " style="height: auto;margin-top:10px;" method="POST"
                                action="/auth/recruiter_request">
                                <div class="inputIcon">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                            <!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                            <path
                                                d="M0 96C0 60.7 28.7 32 64 32H448c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zm64 64V416H224V160H64zm384 0H288V416H448V160z" />
                                        </svg>
                                    </span>
                                    <input type="text" name="name" class="inputEmail  form-control"
                                        placeholder="Company Name" required autofocus>
                                </div>

                                <div class="inputIcon">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                            <!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                            <path
                                                d="M0 128C0 92.65 28.65 64 64 64H448C483.3 64 512 92.65 512 128V384C512 419.3 483.3 448 448 448H64C28.65 448 0 419.3 0 384V128zM48 128V150.1L220.5 291.7C241.1 308.7 270.9 308.7 291.5 291.7L464 150.1V127.1C464 119.2 456.8 111.1 448 111.1H64C55.16 111.1 48 119.2 48 127.1L48 128zM48 212.2V384C48 392.8 55.16 400 64 400H448C456.8 400 464 392.8 464 384V212.2L322 328.8C283.6 360.3 228.4 360.3 189.1 328.8L48 212.2z" />
                                        </svg>
                                    </span>
                                    <input type="email" name="email" class="inputEmail  form-control"
                                        placeholder="Email address" required autofocus>
                                </div>
                                <div class="inputIcon">
                                    <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                            <!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                            <path
                                                d="M16 64C16 28.7 44.7 0 80 0H304c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H80c-35.3 0-64-28.7-64-64V64zM224 448c0-17.7-14.3-32-32-32s-32 14.3-32 32s14.3 32 32 32s32-14.3 32-32zM304 64H80V384H304V64z" />
                                        </svg></span>
                                    <input type="tel" name="mobile" class="form-control" placeholder="Mobile" required
                                        autofocus>
                                </div>
                                <div class="inputIcon">
                                    <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                            <!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                            <path
                                                d="M88 104C88 95.16 95.16 88 104 88H152C160.8 88 168 95.16 168 104V152C168 160.8 160.8 168 152 168H104C95.16 168 88 160.8 88 152V104zM280 88C288.8 88 296 95.16 296 104V152C296 160.8 288.8 168 280 168H232C223.2 168 216 160.8 216 152V104C216 95.16 223.2 88 232 88H280zM88 232C88 223.2 95.16 216 104 216H152C160.8 216 168 223.2 168 232V280C168 288.8 160.8 296 152 296H104C95.16 296 88 288.8 88 280V232zM280 216C288.8 216 296 223.2 296 232V280C296 288.8 288.8 296 280 296H232C223.2 296 216 288.8 216 280V232C216 223.2 223.2 216 232 216H280zM0 64C0 28.65 28.65 0 64 0H320C355.3 0 384 28.65 384 64V448C384 483.3 355.3 512 320 512H64C28.65 512 0 483.3 0 448V64zM48 64V448C48 456.8 55.16 464 64 464H144V400C144 373.5 165.5 352 192 352C218.5 352 240 373.5 240 400V464H320C328.8 464 336 456.8 336 448V64C336 55.16 328.8 48 320 48H64C55.16 48 48 55.16 48 64z" />
                                        </svg></span>
                                    <input type="text" name="orgType" class="form-control"
                                        placeholder="Organisation type" required autofocus>
                                </div>

                                <textarea name="msg" class="form-control" cols="21" rows="2"
                                    placeholder="Any Message to administration" autofocus></textarea>
                                <div class="agreePolicies">

                                    <div class="form-group">
                                        <input type="checkbox" name="policies" id="policies" required>
                                        <label for="html">Agree to the <a href="/policies">policies</a> of
                                            MNIT</label>
                                    </div>
                                </div>
                                <button class="btn" type="submit">Register</button>
                                <div class="forgotPassword" onclick="location.href='/login_recruiter'">Sign in</div>
                            </form>
                        </div>

                    </div>
        </div>

    </div>
</body>

</html>