@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Roboto:wght@500&display=swap");

body {
  background-color: white;
  min-width: 300px;
  margin: auto;
  font-family: "IBM Plex Sans", sans-serif;
  overflow-x: hidden;
}

table {
  margin: 20px auto;
  border: 2px solid blue;
  width: 98%;
  align-self: center;
  text-align: center;
  align-content: center;
  justify-content: center;
}

table {
  margin: 40px auto;
  width: 98%;
  align-self: center;
  text-align: center;
  align-content: center;
  justify-content: center;
  border: transparent;
  border-radius: 10px;
  overflow: hidden;
  white-space: nowrap;
}

/* table {
  border-collapse: collapse;
  width: 90%;
  min-width: 330px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
} */

.headnav {
  border: solid black 2px;
}



.pending_drive_list {
  height: 70vh;
  overflow-y: scroll;
}

/* .btn1 {
  height: 40px;
  border: 2px solid darkblue;
  background-color: #07295bad;
  color: white;
  font-size: medium;
  cursor: pointer;
  margin: 5px auto;
} */



.logo {
  display: grid;
  place-items: center;
}

.cmpLogo {
  height: 100px;
  width: 100px;
  border: 2px solid black;
}

.norm {
  cursor: pointer;
  font-size: x-large;
  border: transparent;
  border-bottom: solid gray;
}

.option {
  border: solid black;
  cursor: pointer;
  font-size: x-large;
}

.option:hover {
  background-color: rgb(185, 184, 184);
}

.profilemenu {
  width: 100%;
  min-width: 300px;
  margin: auto;
}

.clicked_th {
  background-color: yellow;
}

/* table {
    border-collapse: collapse;
    width: 90%;
    min-width: 360px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
} */

.profilecontainer {
  width: 78%;
  margin: auto;
  margin-top: 10px;
  /* border: solid black; */
  display: flex;
  flex-wrap: wrap;
  min-width: 300px;
  /* background-color: #7c7899; */
  box-shadow: 5px 5px 7px #4c4c4d;
  border-radius: 5px;
}

.pphoto {
  width: 200px;
  height: 200px;
  margin: 20px;
  margin-bottom: 20px;
  background-size: 200px 200px;
}

.pinfobox {
  margin-left: 100px;
  font-size: x-large;
  min-width: fit-content;
  min-height: 100px;
  display: flex;
  flex-wrap: nowrap;
}

.pinfo {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  flex-wrap: wrap;
}

.pinforow {
  margin-top: auto;
  font-weight: 600;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
}

.drive {
  width: 78%;
  background-image: linear-gradient(to right, #7d8191, #faf5ed);
  /* background-image: linear-gradient(to right, #c99e49, #e5dac5); */
  /* box-shadow: 0 0 20px #d9bef7; */
  box-shadow: 5px 5px 7px rgb(53, 52, 52);
  margin: 25px auto;
  padding: 1%;
  display: flex;
  border-radius: 10px;
}

.drive {
  /* width: 100%; */
  height: 100px;
  /* background-image: linear-gradient(to right, #7a2adf, #d9bef7); */
  background-color: rgb(176, 174, 174);
  margin: auto;
  box-shadow: 0 0 20px #d9bef7;
  margin-bottom: 10px;
  display: flex;
  border: transparent;
  border-radius: 6px;
}

.company_logo {
  /* background-image: url("/assets/utils/Acne.png"); */
  width: 80px;
  height: 80px;

  margin: auto;
  background-size: 80px 80px;
}

.company_info {
  width: calc(100% - 95px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.name_date,
.require_apply {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.require {
  display: flex;
  height: 24px;
  flex-wrap: wrap;
}

/* 
span {
    min-width: fit-content;
    width: fit-content;
} */

.text2 {
  text-align: center;
  color: #8338fc;
  font-weight: 800;
  font-size: large;
}

.pin {
  width: 15px;
  height: 15px;
  background-size: 15px 15px;
  transform: scale(2) translateY(-10%);
  position: -webkit-sticky;
  display: inline-block;
  background-image: url("/assets/utils/pin.png");
  z-index: 1;
}

.skilltag {
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 4px;
  margin-right: 4px;
  background-color: rgb(83, 195, 157);
  border-radius: 10px;
}

.maincontainer {
  width: 100%;
  min-height: 50vh;
}

.headtext {
  text-align: center;
  font-size: xx-large;
  margin-top: 50px;
  color: #07295bad;
  font-weight: 700;
  max-width: 400px;
  margin: auto;
}

.results {
  min-height: 200px;
}

.highlighted {
  font-size: xx-large;
  border-bottom: solid #4805ca;
}

.input-group {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

/* .btnmy {
  height: 40px;
  background-color: #7a2adf;
  border-image: linear-gradient(to right, #4805ca, rgb(248, 23, 203), #f27344);
  border-image-slice: 20%;
  font-size: medium;
  background: linear-gradient(to right, #4805ca, rgb(248, 23, 203), #f27344);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
} */

@media (max-width: 900px) {
  .pphoto {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .pinfobox {
    margin: auto;
  }

  .pinfo {
    margin: auto;
  }

  .drive {
    width: 98%;
  }

  .profilemenu {
    width: 100%;
  }

  table {
    width: 98%;
  }

  .profilecontainer {
    width: 100%;
  }

  .maincontainer {
    width: 100%;
  }
}

.search_container {
  display: flex;
  flex-wrap: wrap;
}

.filterbox {
  width: 100px;
  height: 20px;
  border: solid black 1.5px;
  margin: auto;
}

.companylogo {
  width: 200px;
  height: 200px;
  background-size: 200px 200px;
  border: solid green;
  margin: auto;
}

.container1 {
  width: 30%;
  min-width: 300px;
  margin: auto;
}

.container2 {
  width: 60%;
  min-width: 350px;
  margin: auto;
}

.noti_count {
  width: 20px;
  height: 20px;
  display: inline-block;
  font-size: small;
  border-radius: 50%;
  background-color: cadetblue;
}

.text-reset {
  text-decoration: none;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fab {
  color: white;
}

.dropdown-menu {
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: auto;
  background-color: #e1e3e8db;
}

/* Ojaswi */



.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #081869;
  color: white;
  padding: 3px;
}

.navHead {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}

.navText {
  padding-left: 10px;
}

.navItems ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.navItems li a {
  padding: 0em 1em;
  color: white;
  text-decoration: none;
  line-height: 24px;
}

.navItems li a+.dropdown-menu {
  padding: 0;
}

.navItems li a+.dropdown-menu a {
  padding: 8px 12px;
}

.navItems li a:hover {
  text-decoration: underline;
}

.hamburger {
  display: none;

  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: white;
}

/*About*/

.about {
  display: block;
  width: 100%;
  height: 450px;
  background-image: url("/assets/utils/mnitbg2.jpg");
  background-size: cover;
  background-position: center;
}

.abouto {
  position: absolute;
  top: 11em;
  left: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.aboutText {
  width: 40%;
  height: auto;

  border-radius: 0px;
  color: #fff;
  border-image: linear-gradient(to right, #0d6efd, rgb(203, 159, 26));
  border-image-slice: 10%;
  border: solid 2px darkblue;
  background-color: #07295bad;
  padding: 4% 5% 5% 3%;
}

.abtBtn {
  border: transparent;
  margin: auto;
  width: 300px;
  border-radius: 10px;
  font-size: large;
  /* border: solid 2px; */
  padding: 5%;
  /* border: solid 2px darkblue; */
  background-color: #07295bad;
  color: yellow;
  margin: 14px;
}

.abtBtn:hover {
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}

.abtBtn i {
  padding-right: 5px;

}

.aboutButtons {
  display: flex;
  flex-direction: column;
  /* margin: 80px; */
  position: relative;
  margin-right: 15%;
  margin-top: -21px;
  float: right;
}

.clickHand {
  width: 60px;
  height: 60px;
  background-image: url("/assets/utils/click.png");
  background-size: 60px 60px;
  position: absolute;
  z-index: 10;
  top: 30px;
  left: 40%;
  /* transform: rotateZ(-20deg); */
  animation: showclick 5s infinite;
}

@keyframes showclick {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translateY(150%);
  }

  40% {
    transform: translateY(300%) rotateZ(0deg);
  }

  50% {
    transform: translateY(300%) rotateZ(30deg);
  }

  60% {
    transform: translateY(300%) rotateZ(-30deg);
  }

  70% {
    transform: translateY(300%) rotateZ(0deg);
  }

  80% {
    transform: translatY(300%);
  }

  100% {
    transform: translateY(0);
  }

}


.aboutText h1 {
  padding-bottom: 15px;
}

.aboutC {
  width: 100%;
}

/*temp*/

@media screen and (max-width: 1000px) {


  .aboutButtons {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .abouto {
    position: absolute;
    top: 8em;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .aboutText {
    width: 50%;
    height: auto;
    border-radius: 0px;
    color: #fff;
    border-image: linear-gradient(to right, #0d6efd, rgb(203, 159, 26));
    border-image-slice: 10%;
    border: solid 2px darkblue;
    background-color: #07295bad;
    padding: 4% 5% 5% 3%;
  }
}


@media screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Roboto", sans-serif;
    margin: auto;
  }

  .about {
    height: 700px;
  }

  .hamburger {
    display: block;
    margin-right: 15px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navMenu {
    position: fixed;
    left: 100%;
    top: 70px;
    gap: 0;

    background-image: linear-gradient(to right, #0d6efd, #5799fc);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .navItems ul {
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .navItem {
    margin: 16px 0;
  }

  .navMenu.active {
    left: 0;
  }

  .navItems li a {
    width: 100%;
  }




  .aboutButtons {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 30px;
  }

  .aboutText {
    width: 60%;
    height: auto;
    background-color: #07295bad;
    border-radius: 10px;
    color: #fff;
    padding: 4% 5% 5% 3%;
  }

  .abouto {
    position: absolute;
    top: 8em;
    left: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .aboutText {
    width: 70%;
    height: auto;

    border-radius: 0px;
    color: #fff;
    border-image: linear-gradient(to right, #0d6efd, rgb(203, 159, 26));
    border-image-slice: 10%;
    border: solid 2px darkblue;
    background-color: #07295bad;
    padding: 4% 5% 5% 3%;
  }

  #dropdown-item {
    background-color: #0c2bc8;
    color: black;
  }

  .abtBtn {
    margin: auto;
    width: 300px;
    background-color: #07295bad;
  }
}

@media screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Roboto", sans-serif;
    margin: 0;
  }

  .abouto {
    position: absolute;
    top: 8em;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .aboutButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    margin: 20px;
    padding: 10px;
  }

  .aboutText {
    width: 90%;
    height: auto;

    background-color: #07295bad;
    border-radius: 0px;
    color: #fff;
    padding: 4% 3% 4% 3%;
    margin-right: 0px;
  }

  .abtBtn {
    margin: auto;
    margin-left: 0px;
    padding: 2%;

  }
}


@media screen and (max-width: 500px) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Roboto", sans-serif;
    margin: 0;
  }

  .abouto {
    position: absolute;
    top: 7.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .clickHand {
    top: 10px;
  }

  .aboutButtons {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .aboutText {
    width: 90%;
    height: auto;

    background-color: #07295bad;
    border-radius: 0px;
    padding: 4% 3% 4% 3%;
    margin-right: 0px;
  }

  .abtBtn {
    width: 300px;
    margin: 1% 0%;
    padding: 5%;
  }
}

@media screen and (max-width: 380px) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Roboto", sans-serif;
    margin: 0;
  }

  .abouto {
    position: absolute;
    top: 8em;
    left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .aboutButtons {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 5px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .aboutText {
    width: 100%;
    height: auto;

    background-color: #07295bad;
    border-radius: 0px;
    color: #fff;
    padding: 4% 3% 4% 3%;
    margin: 0px;
  }

  .abtBtn {
    width: 300px;
    margin: 1% 0%;
    padding: 5%;
  }
}

/* Chaitnya */

.cards {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 80px;
  opacity: 0;
}

.card1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 30px;
  width: 300px;
  height: 380px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
  border-radius: 10px;

}

.cardImage {
  width: 100%;
  height: auto;
  display: flex;
}

.cardImage:hover {
  transform: scale(0.83);
  transition: 0.3s ease-in-out;
}

.card_data {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 4px;
    flex-wrap: nowrap;
}

/* .btn_new {
  width: 100px;
  height: 40px;
  color: white;
  font-size: smaller;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #07295bad;

  border: solid 2px darkblue;

} */


.double-line-bottom {
  margin: auto;
  margin-bottom: 20px;
  margin-top: 8px;
  padding-bottom: 5px;
  width: 100px;
  position: relative;
}



.double-line-bottom::before {
  border-radius: 8px;
  bottom: 1px;
  content: "";
  height: 2px;
  left: 0px;
  position: absolute;
  width: 100px;
  background-color: blue;
}


.double-line-bottom::after {
  border-radius: 8px;
  bottom: -1px;
  content: "";
  height: 6px;
  left: 40px;
  position: absolute;
  width: 24px;
  background-color: #fbc02a;
}


.data {
  margin: auto;
  display: flexbox;
  width: 90vw;
  height: 30vh;
}

/* 
@media (min-width: 300px) and (max-width: 500px) {

  .data1 {
    font-size: 0.54rem;
    font-weight: 150;
  }

  .data2 {
    font-size: 1rem;
    font-weight: 300;
  }
} */

/* vishnu */

.rank_cards {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 80px;
  background-color: #f4f7fa;
  border-radius: 10px;
  padding: 20px 40px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}

/* .glass {
  width: 40%;
  height: fit-content;
  min-width: 320px;
  padding: 25px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  font-size: large;
  overflow: hidden;
  color: rgb(5, 5, 5);
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(7px);
} */
.navLogo {
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
}

.glass {
  width: 40%;
  height: fit-content;
  min-width: 320px;
  overflow: hidden;
  padding: 25px;
  border-radius: 10px;
  margin-left: 10px;
  /* backdrop-filter: grayscale(.8) blur(5px);
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.08);
  border-top: 2px solid rgba(225, 225, 225, 0.3);
  border-left: 2px solid rgba(225, 225, 225, 0.1);
  border-right: 1px solid rgba(225, 225, 225, 0.2);
  color: white; */
  float: left;
  background-color: #07295bad;
  color: yellow;

}

/* .glass:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
  margin: -20px;
} */

.rank_card {
  width: 23%;
  height: 300px;
  margin: 0 1%;
  /* margin-top: 25px; */
  /* border: 3px darkblue; */
  /* border-image: linear-gradient(to bottom, #4a2599, #f86246); */
  border-image-slice: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 0 5px #ccc;
  border-radius: 5px;

}

#chart-container {
  width: 70%;
  margin: auto;
  margin-top: 50px;
  min-width: 320px;
  max-width: 1400px;
  background-color: white;
  border-radius: 5px;
  box-shadow: inset 0 1rem 3rem rgba(0, 0, 0, .175);
  margin-bottom: 80px;
}

#chart-container2 {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  /* background-color: white; */
  background-color: white;
  margin-bottom: 80px;

  /* border-radius: 5px;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175); */
  position: relative;
}

.logo_name {
  line-height: 50px;
  display: flex;
  justify-content: space-evenly;
}

.logo_mnit {
  width: 50px;
  height: 50px;
  background-image: url("/assets/utils/logo.png");
  background-size: 50px 50px;
}

.pieCharts {
  width: 40%;
  max-width: 400px;
  height: fit-content;
  margin: auto;
  margin-top: 50px;
  min-width: 340px;
  display: flex;
}

#pieChart1,
#pieChart2 {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
  border-radius: 5px;
  background-color: white;
  margin: 5px;

}

.statsBox {
  width: 20%;
  min-width: 220px;
  height: 440px;
  margin: auto;
  display: flex;
  flex-direction: column;
  /* border: solid 4px; */
  /* border-image: linear-gradient(to top, #4a2599, #f86246); */
  border-image-slice: 1;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
  border-radius: 5px;
  border: 3px darkblue;
  background-color: white;

}

.stats {
  width: 100%;
  margin: auto;
}

.headtext {
  text-align: center;
  font-size: xx-large;
  margin-top: 50px;
  color: #07295bad;
  font-weight: 700;
  max-width: 400px;
  margin: auto;
}

.logo {
  width: 100%;
  height: 25%;
  background-size: contain;
  background-repeat: no-repeat;
  /* margin-left: 15%; */
  background-position: center, center;
}

.mhrdlogo {
  background-image: url("/assets/utils/mhrd.png");
}

.ionilogo {
  background-image: url(/assets/utils/ioni.png);
}

.indiatodaylogo {
  background-image: url("/assets/utils/indiatoday.png");
}

.nirflogo {
  background-image: url("/assets/utils/nirf.png");
}

.theweeklogo {
  background-image: url("/assets/utils/theWeek.png");
}

.headtext2 {
  text-align: center;
  font-size: x-large;
  color: #1111cf;
  font-weight: 700;
}

.text1 {
  text-align: center;
  color: #5799fc;
}

.text2 {
  text-align: center;
  color: #5799fc;
  font-weight: 800;
  font-size: large;
}

.text4 {
  font-size: x-large;
  text-align: center;
  width: 60%;
  text-align: center;
  margin: auto;
  min-width: 340px;
  max-width: 600px;
  font-weight: 800;
  /* background: linear-gradient(to right, #1111cf, #0d6efd, #4040ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: #1111cf;
}

.footline {
  width: 100%;
  text-align: center;
  font-size: large;
  height: fit-content;
  /* max-width: 1400px;
    margin: auto; */
  color: white;
  background-image: linear-gradient(to right, #0d6efd, #5799fc);
}

.footer {
  width: 100vw;
  height: min-content;
  background-image: linear-gradient(to right, #0d6efd, #5799fc);
  display: flex;
  flex-direction: column;
}

.footerdata {
  height: fit-content;
  width: 100vw;
  max-width: 1400px;
  margin: auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.footercolumn {
  margin: auto;
  width: 25%;
  color: white;
  display: flex;
  padding-left: 10px;
  font-weight: 600;
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.seperator {
  width: 3px;
  height: 120px;
  /* border: solid transparent; */
  background-image: linear-gradient(to bottom, #0c2d5f, rgb(52, 44, 168));
  box-shadow: 0 0 5px darkblue;
  margin: auto;
}

.clg_address {
  display: block;
  height: fit-content;
  line-height: normal;
}

/* ::-webkit-scrollbar {
  display: none;
} */

.recruiters {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  height: 300px;
  background-image: url("/assets/utils/recruiters.png");
  background-size: cover;
}

.recruiter_card {
  height: 300px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
  border-radius: 5px;
  opacity: 0.85;
}

/* .btn {
  margin: auto;
  width: fit-content;
  border: solid 5px;
  padding: 5px;

  background-color: #07295b;
  color: #fff;
  border: solid 2px darkblue;
} */

.card-text {
  text-align: left;
}

#navs-justified-messages .card-text {
  text-align: left;
}

.headtext {
  text-align: left;
  font-size: x-large;
  color: #07295bad;
  font-weight: 700;
  margin: auto;
  margin-top: 10px;
  margin-left: 10px;

}

th {
  background-color: rgb(8 24 105);
  height: 40px;
  padding-inline: 10px;
  color: #fff;
}

td {
  background-color: rgba(250, 250, 250, 0.5);
  color: rgb(87, 82, 82);
  padding: 10px;
  border-bottom: solid 1px rgba(87, 82, 82, 0.1) !important;
}

tr:nth-child(2n) td {
  background-color: rgba(250, 250, 250, 1);
}

td a {
  color: white;
  text-decoration: none;
}

td a:hover {
  color: white;
  text-decoration: underline;
}

td .combo {
  border: 2px solid darkblue;
  background-color: #07295bad;
  color: white;
  cursor: pointer;
  font-size: medium;

}

/* .btn5 {

  color: white;
  cursor: pointer;
  font-size: medium;

  float: right;
  width: fit-content;
  margin-left: 35%;
  height: 40px;
  border: 2px solid darkblue;
  background-color: #07295bad;
  color: white;
  box-shadow: 2px 2px rgb(1, 1, 51);

} */

/* .btn5:hover {
  background-color: #2c7bf1ad;
  color: black;
} */

textarea {
  text-align: left;
  padding: 0px;

}

.tArea {
  text-align: left;
}


.slogo {
  display: grid;
  place-items: center;
}

.stdLogo {
  height: 70px;
  width: 70px;
  border: 2px solid black;
}

.email {
  word-wrap: break-word;
  word-break: break-all;
}

.pinforow2 {
  margin-top: auto;
  font-weight: 400;
  line-height: 50px;
  font-size: smaller;
  text-align: left;

}

/* #btnnew {
  color: #0d6efd;
  padding-inline: 10px;
  padding: 5px;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
} */

/* .btn {
  height: 40px;
  background-color: white;
  border-image: linear-gradient(to right, #4805ca, rgb(248, 23, 203), #f27344);
  border-image-slice: 20%;
  font-size: medium;
  background: linear-gradient(to right, #4805ca, rgb(248, 23, 203), #f27344);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  border: solid 2px darkblue;
} */

.search_container {
  display: flex;
  flex-wrap: wrap;
}

.filterbox {
  width: 100px;
  height: 20px;
  border: solid black 1.5px;
  margin: auto;

}

.companylogo {
  width: 200px;
  height: 200px;
  background-size: 200px 200px;
  border: solid green;
  margin: auto;
}

.container1 {
  width: 30%;
  min-width: 300px;
  margin: auto;
}

.container2 {
  width: 60%;
  min-width: 350px;
  margin: auto;
}

.outercontainer {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.createnotice {
  width: 90%;
  margin: auto;
  background-color: #ffffff;
  margin-top: 50px;
  padding: 10px;
  border-radius: 10px;
  border: solid black 1px;
  box-shadow: 0 0 3px black;
}

.text {
  text-align: center;
}

.value_text {
  text-align: center;
  margin: 20px 0 10px 0;
}

.value_description {
  text-align: center;
  margin: 8px 20px;
}

#scope {
  display: none;
}

.noteinput {
  width: 80%;
  min-height: 200px;
  margin-left: 10%;
  border: #d1a026 solid;
  font-size: x-large;
  color: #3c4481;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.request_detais_recruiter {
  width: calc(100% - 100px);
  text-align: left;
}

/* .btnc {
  width: 100px;
} */

.vmlist {
  display: flex;
  justify-content: space-between;
}

.table-container {
  width: 100%;
  overflow-x: scroll;
  max-height: 60%;
}

.nopending {
  background-image: url("/assets/utils/completed.png");
  width: 100px;
  height: 100px;
  background-size: 100px 100px;
  margin: auto;
}

/*contact us*/

.tabSection {
  border-bottom: solid 1px #cccccc52;
}

.tabSection li span {
  border: solid 2px #ffffff !important;
  color: #000000 !important;
  cursor: pointer;
}

.tabSection li span.active {
  border-bottom: solid 2px #fbc02a !important;
  border-radius: initial;
  border-bottom: 0;
  color: #fbc02a !important;
  background-color: transparent !important;
}

#pills-tabContent .alert {
  background: #ccc;
  color: #000;
  border: 0;
  padding: 16px !important;
  font-size: 15px;
}

.profileDetails h5 {
  font-size: 16px;
}

.profileDetails span.d-inline-block {
  font-size: 14px;
  margin-bottom: 10px;
}

.profilecontainer {
  padding: 16px;
}

#navs-justified-profile label {
  text-align: left;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .tabSection {
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .tabSection li {
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: 769px) and (max-width: 800px) {
  .tabSection li {
    padding: 0 !important;
  }

  .tabSection li span {
    font-size: 10px;
  }
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
  .tabSection li {
    padding: 0 !important;
  }

  .tabSection li span {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  body {
    overflow-x: hidden;
    min-width: 100%;
  }

  .abtBtn {
    width: 100%;
    margin: 10px;
  }

  .aboutButtons {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .pieCharts {
    flex-direction: column;
  }

  .rank_card {
    width: 98%;
    margin-bottom: 10px;
  }

  #chart-container {
    min-width: calc(100% - 28px) !important;
    width: calc(100% - 28px) !important;
    margin: 0 14px !important;
  }

  .pieCharts canvas,
  #chart-container canvas {
    width: calc(100% - 0px) !important;
    margin: 10px 0 !important;
  }

  .glass,
  .text4 {
    min-width: 100%;
    margin: 0;
  }

  .card1,
  .pieCharts,
  .pieChart,
  .statsBox {
    width: 100%;
    min-width: 100%;
  }

  .me-4 {
    margin-right: 0.5rem !important;
  }

  .navMenu {
    top: 67px;
    background: #0c2bc8;
  }

  .abouto {
    left: 0;
  }

  .aboutButtons {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
}

@media screen and (max-width: 1023px) {
  .rank_card {
    width: 48%;
    margin: 0 1% 20px;
  }

  .pieCharts {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }

  .statsBox {
    width: 100%;
  }

  .navItems li a {
    font-size: 12px;
  }
}

@media screen and (max-width: 1365px) {
  .pieCharts {
    margin: 0 100px 0 0;
  }
}

a.navLink.active {
  color: yellow;
}